#integracao2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vermelha {
    color: #f30;
}

.azul {
    color: #03a;
}

.branca {
    background-color: #444;
    color: #fff;
}